In [2]:
import pandas as pd
import numpy as np

**Cook the `cylinder-bands` dataset**

In [204]:
df = pd.read_csv("./bands.data.csv", header = None)

In [205]:
df.columns = df.columns + 1
col_to_del = [1,2,3,4]

In [206]:
df = df.drop([521,522]) #these are erronous rows

In [207]:
df = df.drop(columns = col_to_del)

In [208]:
df[6] = df[6].str.lower()
df[9] = df[9].str.lower()
df[10] = df[10].str.lower()
df[11] = df[11].str.lower()
df[12] = df[12].str.lower()
df[14] = df[14].str.lower()
df[18] = df[18].str.lower()
df[19] = df[19].str.lower()

In [209]:
df

,5,6,7,8,9,10,11,12,13,14,...,31,32,33,34,35,36,37,38,39,40
0,YES,key,YES,BENTON,gallatin,uncoated,uncoated,no,LINE,yes,...,36.4,0,0,2.5,1,34,40,105,100,band
1,YES,key,YES,BENTON,gallatin,uncoated,uncoated,no,LINE,yes,...,38.5,0,0,2.5,0.7,34,40,105,100,noband
2,YES,key,YES,BENTON,gallatin,uncoated,coated,no,LINE,yes,...,39.8,0,0,2.8,0.9,40,40,103.87,100,noband
3,YES,key,YES,BENTON,gallatin,uncoated,uncoated,no,LINE,yes,...,38.8,0,0,2.5,1.3,40,40,108.06,100,noband
4,NO,key,YES,BENTON,gallatin,uncoated,coated,no,LINE,yes,...,42.5,5,0,2.3,0.6,35,40,106.67,100,noband
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,?,key,?,?,gallatin,super,uncoated,?,?,?,...,?,?,?,1,1,?,40,112.5,100,band
537,?,key,?,?,gallatin,super,coated,?,?,yes,...,?,?,?,0,0,?,40,110,100,band
538,?,key,?,?,gallatin,super,coated,?,?,?,...,?,?,?,2.7,2.8,?,40,108,100,band
539,?,key,?,?,gallatin,super,uncoated,?,?,?,...,?,?,?,1.5,2.3,?,40,108,100,band
540,?,key,?,?,gallatin,super,uncoated,?,?,yes,...,?,?,?,2.5,1,?,40,108.1,100,band

In [210]:
cont_cols = np.arange(21,40,1)
col_to_del = [6, 9] # only one values

In [211]:
df = df.drop(columns = col_to_del)

In [212]:
df.nunique(axis = 0)

5       3
7       3
8       3
10      3
11      3
12      3
13      4
14      3
15      4
16      8
17      7
18      4
19      6
20      3
21     28
22     38
23     21
24     67
25     43
26     23
27     37
28    125
29     83
30     82
31    117
32     18
33      5
34     33
35     33
36     13
37      8
38     82
39      4
40      2
dtype: int64

In [213]:
df_cont = df.loc[:, df.columns.isin(cont_cols)]
df = df.loc[:, ~df.columns.isin(cont_cols)] #target is also here

In [214]:
np.sum((df == '?').any(1)) #187 rows have at least 1 ?

187

In [215]:
df = df.replace(['?'], 100).astype(str) #make everything string  #replace all 100's with a new one

In [216]:
df_cont = df_cont.replace('?', np.nan)

In [217]:
df_cont = df_cont.apply(pd.to_numeric)

In [218]:
df_cont = df_cont.fillna(df_cont.mean())

In [219]:
(df.apply(lambda x: pd.factorize(x)[0]) + 1).\
            to_csv('./cylinder-bands-cooked.csv', header=False, index = False)

In [220]:
df_cont.to_csv('./cylinder-bands-cooked-cont.csv', header=False, index = False)